@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
<<<<<<< HEAD
}

@layer base {
    html {
        scroll-behaviour: smooth;
    }
}

::-webkit-scrollbar{
    display: none;
=======
>>>>>>> f7cc994cf5142c0d06d77844ef12f62b6e9ef051
}